<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fighters</title>
</head>
<body>
<h1>Fighters</h1>
<div th:each="fighter : ${fighters}">
    <span ><a th:href="@{/fighters/{fighterId}(fighterId=${fighter.id})}" th:text="${fighter.name}"></a></span>
    <span ><a th:href="@{/fighters/{fighterId}(fighterId=${fighter.id})}" th:text="${fighter.user.id}"></a></span>
    <span ><a th:href="@{/fighters/{fighterId}(fighterId=${fighter.id})}" th:text="${fighter.id}"></a></span>
</div>
<a href="/add-fighter">Add Fighter</a>
<a href="/fight">Start an Arena Fight</a>
</body>
</html>