<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Arena Fighting Game</title>
</head>
<body>
<h1> 💪 ARENA FIGHT GAME 💪 </h1>
<i>*Made in Spring using Thymeleaf</i>
<h3><span><a href="/add-user">Create a User</a></span></h3>
<h3><span><a href="/add-fighter">Create a Fighter</a></span></h3>
<h3><span><a href="/users">User List</a></span></h3>
<h3><span><a href="/fighters">Fighter List</a></span></h3>
<h3><span><a href="/organize-fight">Organize a Fight</a></span></h3>

</body>
</html>